body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

button {
  font-family: inherit;
  cursor: pointer;
}
/*-------------------HEADER---------------------*/

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-web {
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.menu-list-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-list-link:hover,
.menu-list-link:focus {
  color: #404bbf;
}

.address-container {
  font-style: normal;
}

.address-list {
}

.address-list-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

.address-list-item:hover,
.address-list-item:focus {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

/*---------------------------HERO-SECTION-------------------------------*/

.hero-section {
  background-color: #2e2f42;
}

.master-href {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

.order-button {
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.order-button:hover,
.order-button:focus {
  background: #404bbf;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

/*---------------------BENEFIT-SECTION--------------------------*/

.benefits-section {
}

.benefits-hidden-href {
}

.benefits-list {
}

.benefits-list-href {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-list-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*------------------TEAM-SECTION-------------------------*/

.team-section {
  text-align: center;
  background-color: #f4f4fd;
}

.team-section-href {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

.teams-href {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.teams-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-list {
}

.team-list-item {
  background-color: #ffffff;
}

/*---------------------PORTFOLIO-SECTION---------------------------*/

.portfolio-href {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.portfolio-list {
}

.portfolio-list-item {
}

.portfolio-list-item-href {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-list-item-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*-----------------FOOTER--------------------------*/

.footer-section {
  background-color: #2e2f42;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.footer-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
